/* ViewBookedEvents.css */

.view-booked-events-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .view-booked-events-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .event-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .event-table th, .event-table td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  .event-table th {
    background-color: #f2f2f2;
  }
  
  .event-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .edit-icon, .delete-icon {
    cursor: pointer;
    margin-right: 10px;
  }
  
  .delete-icon {
    color: red;
  }
  .class-button {
    background-color: #080808;
    border: none;
    cursor: pointer;
    margin-top: 10%;
  }
  
  .class-button:hover {
    background-color: #c9302c;
  }